jass.xsd

<?xml version="1.0"?>
<xsd:schema 
        xmlns:Jass="http://shirkhan.dyndns.org/Jass"
        targetNamespace="http://shirkhan.dyndns.org/Jass"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <xsd:element name="Jass" type="Jass:Jass"/>

  <xsd:complexType name="Generator">
	 <xsd:sequence>
		<xsd:element name="Sample" type="xsd:string"/>
		<xsd:element name="Channel" type="xsd:nonNegativeInteger"/>
	 </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Jass">
    <xsd:sequence>
		<xsd:element name="Generator" type="Jass:Generator" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
